<% const d = new Date()
   const year = d.getFullYear() %>

<footer>
  <p class="copyright">&copy; <%= year %>, CSE Motors</p>
  <p><a href="/inv/triggerError" rel="nofollow">Trigger 500 Error</a></p>
</footer>
